#root{
    text-align: center;
    width:100%;
    height:100%;
}

#homepage{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    
}

#header{
    display: inline-block;
    margin-top: 40px;
    background-color: #43BFBF;
    color: white;
    border-radius: 4px;
    width:82%;
    height:100px;
}

#content{
    display: inline-block;
    width:78%;
}

h3{
    text-align: center;
    padding-top: 23px;
}


.list-group{
    margin-top: 100px;
    max-height: 350px;
    
}

.list-group .doctors{
    margin-top: 10px;
    border-radius: 8px;
}


.nav{
    font-size: 20px;
}

.nav-link{
    color: rgb(9, 90, 100)!important;
}

.nav-link:hover{
    background-color: #EFEFEF !important;
}

.nav-link.active{
    background-color: #43BFBF !important;
}

a {
    color: rgb(146, 186, 221);
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  .doctors{
      width:100%;
      height:220px;
      border: 1px solid rgb(12, 96, 99);
      text-align: center;
  }

  .data{

    text-align: center;

  }

  .photo{
    width:180px;
    height:210px;
  }

  .content{
      font-size: 30px;
      color: rgb(12, 96, 99);
      padding-top: 40px;
      border-left: 1px solid rgb(12, 96, 99);
      display: inline-block;
  }