body{
    text-align: center;
}

#root{
    text-align: center;
    width:100%;
    height:100%;
}

#homepage{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
  
}

.nav{
    font-size: 20px;
}

.nav-link{
    color: rgb(9, 90, 100)!important;
}

.nav-link:hover{
    background-color: #EFEFEF !important;
    
}

.nav-link.active{
  
  background-color:  #00A8A8!important;
}

#header{
    display: inline-block;
    margin-top: 35px;
    color: white;
    border-radius: 4px;
    width:80%;
    height:100px;
}


@media only screen and (max-width: 1000px) {
    #header {
        width: 100%;
    }
  }


#photo{
    width: 100%;
    height: 200px;
}








.card{
    width: 15rem;
    color:rgb(48, 139, 139);
    display: inline-block;
}

.card_fa{
    font-size: 150px;
}

.btn{
   background-color: #00A8A8;  
}

.btn-primary{
    background-color: #00A8A8;  
}



  #card{
      text-align: center;
  }


  #logo{
      width:150px;
      height: 100px;
  }

  
  #sticky-footer {
    font-size: 25px;
    background-color: #00A8A8!important;
    color: black!important;
  }

  #sticky-footer i{
      padding: 0 10px;
  }

  #space{
      width: 600px;
      display: inline-block;
  }


  .home{
      margin: 4px 0;
      height:250px;
      text-align: center;
  }

  .photos{
      width: 105%;
      height: 100%;
      max-width: 105%;
      max-height: 100%;
      display: block;
  }

  .col{
    
    height:250px;
  }