
#root{
    text-align: center;
    width:100%;
    height:100%;
    text-align: center;
}


.container{
    margin-top: 50px;
    text-align: center;
}


#homepage{
 
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 8px;
}
.nav{
    font-size: 20px;
}

.nav-link{
    color: rgb(9, 90, 100)!important;
}

.nav-link.active{
    background-color: #43BFBF !important;
}

.nav-link:hover{
  background-color: #EFEFEF !important;
  
}

a {
    color: rgb(146, 186, 221);
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  

  .btn-primary {
    color: #fff;
    background-color: #008081;
    border-color: #008081;
}
  
  

