#root{
    text-align: center;
    width:100%;
    height:100%;
}

#homepage{
    width: 1000px;
    height: 100%;
    
    display: inline-block;
    border-radius: 8px;;
}

.list-group{
    margin-top: 20px;
    max-height: 350px;
    overflow: auto;
    overflow-y: scroll;
    width:80%;
    display: inline-block;
}

.list-group li{
    margin-top: 5px;
}

.fa{
    font-size: 20px;
}

#content{
  text-align: center;
}

.fa-check-circle{
    color:green;
}

.fa-times{
    color:red;
}

body{
  text-align: center;
}

#root{
  text-align: center;
  width:100%;
  height:100%;
}

#homepage{
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 8px;
  text-align: center;

}

.nav{
  font-size: 20px;
}

.nav-link{
  color: rgb(9, 90, 100)!important;
}

.nav-link:hover{
  background-color: #EFEFEF !important;
  
}

.nav-link.active{

background-color:  #00A8A8!important;
}

#header{
  display: inline-block;
  margin-top: 40px;
  background-color: #43BFBF;
  color: white;
  border-radius: 4px;
  width:82%;
  height:100px;
}


h3{
    text-align: center;
    padding-top: 20px;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  

  .btn-primary {
    color: #fff;
    background-color: rgb(12, 145, 145);
    border-color: rgb(12, 145, 145);
}

#newDoctor{
    width:200px;
    height: 50px;
    background-color:rgb(12, 145, 145); 
    font-size: 20px;
    color:white;
    border-radius: 8px;
    margin-top: 60px;
}




