body{
    text-align: center;
}

#root{
    text-align: center;
    width:100%;
    height:100%;
}

#homepage{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
  
}

.nav{
    font-size: 20px;
}

.nav-link{
    color: rgb(9, 90, 100)!important;
}

.nav-link:hover{
    background-color: #EFEFEF !important;
    
}

.nav-link.active{
  
  background-color:  #00A8A8!important;
}

a {
    color: rgb(146, 186, 221);
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }

#book_button{
    width:200px;
    height: 50px;
    background-color:rgb(12, 145, 145); 
    font-size: 20px;
    color:white;
    border-radius: 8px;
    margin-top: 30px;
}

.list-group{
    max-height: 300px;
    overflow: auto;
    overflow-y: scroll;
    margin-top: 30px;
}

.list-group li{
    margin-top: 10px;
}

#header{
    display: inline-block;
    margin-top: 40px;
    background-color: #43BFBF;
    color: white;
    border-radius: 4px;
    width:82%;
    height:100px;
  }

#visits{
    max-height: 400px;
    display: inline-block;
    width: 82%;
}
  

h3{
    text-align: center;
    padding-top: 20px;
}

#book{
    width:200px;
    height: 50px;
    background-color:rgb(12, 145, 145); 
    font-size: 20px;
    color:white;
    border-radius: 8px;
    margin-top: 30px;
}