body{
    text-align: center;
}

#root{
    text-align: center;
    width:100%;
    height:100%;
}

#homepage{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
  
}

.nav{
    font-size: 20px;
}

.nav-link{
    color: rgb(9, 90, 100)!important;
}

.nav-link:hover{
    background-color: #EFEFEF !important;
    
}

.nav-link.active{
  
  background-color:  #00A8A8!important;
}

.btn-primary{
    color: #fff;
    background-color: #008081;
    border-color: #008081;
}

.container{
    margin-top: 50px;
    text-align: center;
}

